include ./layout.jade
	body
		p !{json.address}
		div
			button(onclick="AddProducts()") Add Products				
			button(onclick="ViewProducts()") View Products				
			button(onclick="UpdateProducts()") Update Products				
			button(onclick="DeleteProducts()") Delete Product
			button(onclick="AddCollections()") Add Collections
			button(onclick="ViewCollections()") View Collections
		div
			form(action='/updateStore/#{json.id}', enctype="multipart/form-data", method='post')
				div
					input(type="text" name="name" value=json.name)
				div
					input(type="file" name="file" multiple)
				div
					button(type="update") Update
script.
	function AddProducts() {window.location.href = '/AddProductsPage/#{json.id}/#{json.address.city}'}	
	function ViewProducts() {window.location.href = '/ViewProductsPage/#{json.id}'}	
	function UpdateProducts() {window.location.href = '/UpdateProductsPage/#{json.id}'}	
	function DeleteProducts() {window.location.href = '/DeleteProductsPage/#{json.id}'}
	function AddCollections() {window.location.href = '/AddCollectionsPage/#{json.id}'}
	function ViewCollections() {window.location.href = '/ViewCollectionsPage/#{json.id}'}
