include ./layout.jade
	body
		div
			form(action='/updateProduct/#{json.id}',method='post')
				div
					input(type="text" name="name" value=json.name)
				div
					input(type="text" name="description" value=json.description)
				div
					input(type="text" name="category" value=json.category)
				div
					input(type="text" name="subCategory" value=json.subCategory)
				div
					button(type="update") Update	
