include ./layout.jade
	body
		div
			!{storeid}
			button(onclick="AddProducts()") Add Products				
			button(onclick="ViewProducts()") View Products				
			button(onclick="UpdateProducts()") Update Products				
			button(onclick="DeleteProducts()") Delete Products
script.
	function AddProducts() {window.location.href = '/AddProductsPage/#{storeid}'}	
	function ViewProducts() {window.location.href = '/ViewProductsPage/#{storeid}'}	
	function UpdateProducts() {window.location.href = '/UpdateProductsPage/#{storeid}'}	
	function DeleteProducts() {window.location.href = '/DeleteProductsPage/#{storeid}'}