html
	head
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
	
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
		
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js')
			
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
	body
		div
			!{storeid}
			button(onclick="AddProducts()") Add Products				
			button(onclick="ViewProducts()") View Products				
			button(onclick="UpdateProducts()") Update Products				
			button(onclick="DeleteProducts()") Delete Products
script.
	function AddProducts() {window.location.href = '/AddProductsPage/#{storeid}'}	
	function ViewProducts() {window.location.href = '/ViewProductsPage/#{storeid}'}	
	function UpdateProducts() {window.location.href = '/UpdateProductsPage/#{storeid}'}	
	function DeleteProducts() {window.location.href = '/DeleteProductsPage/#{storeid}'}