include ./layout.jade
	body
		h2 ProductList
		//- img(src="http://res.cloudinary.com/shoppingdirectory/image/upload/v1467220670/ylpopjcqe9dkmm6iu1sx.jpg")
		each product in json
			.col-md-4.col-sm-6.col-xs-12
				h3 !{product.name}
				img(src="#{product.imagesMin[0]}")
				p <b>Description</b> !{product.Description}	
				p <b>Price</b> !{product.price.value}
				a(href="/editProduct/#{product.id}") edit
				a(href="/deleteProduct/#{product.id}") Delete